# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# OS-specific
# =========================
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# =========================
# Editors / IDEs
# =========================
# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# PyCharm
.idea/

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp
*.swo

# Moje zeby neprotestoval windows
allowscripts.txt
